$bgcolor:   #022126;
$blue: #05899E;
$green: #4C9770;
$wh-gr: #DBF3F7;
$wh-bl: #DEFAE3;

%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*{
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $wh-bl;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: $bgcolor;
}
.nav{
    background: linear-gradient(-45deg, $green 0%, $blue 100%);
    width: 180px;
    height: 380px;
    border-radius: 100px;
    top: -280px;
    position: fixed;
    transition: ease-in-out 0.5s;
    padding: 60px 20px 20px 20px;
    overflow: hidden;
    &__text{
        text-align: center;        
        h1{ 
            color: $wh-bl;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20pt;
            line-height: 40pt;
        }
    }
    &__icon{
        margin: auto;
        background: url(gr.png) no-repeat center/contain;
        margin-top: 30%;
        width: 40%;
        height: 40%;
        transition: ease-in-out 0.5s;
        &_active{
            transform: rotateX(-180deg);
        }
    }

}
.nav_active{
  top: 0;  
}
.about{
    width: 100%;
    height: 1200px;
    background: url(ab3.png) no-repeat center;
    &__text{
        padding: 0 200px;
        h1{
            font-size: 50pt;  
            margin-top: 50px;
            margin-bottom: 200px;
        }
        p{
            font-size: 20pt;
        }
    }

    
}
.my-pr{
    background: url(ab2.png) no-repeat center;
    width: 100%;
    height: 1700px;
    margin-top: 10%;
    &__t{
        text-align: center;
        h1{
            font-size: 50pt;
            margin-bottom: 200px;
        }
    }
    &__cont{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 50%;
        margin: auto;
        .card{
            background: aqua;
            flex: 1;
            height: 40%;
            border-radius: 20px;
            transition: ease-in-out 0.5s;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            &_active{
                flex: 10;
            }

        }
    }
}
.footer{
    display: flex;
    justify-content: center;
    background: black; 
    width: 100%;
    height: 100px;
    padding-top: 40px;
}